@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {

    --rojo: #d7263dff;
    --rojodark: rgb(163, 34, 51);
    --rojoalpha: #d7263e74;
    --amarillo: #e2a926ff;
    --texto: #02182bff;
    --texto-secundario: #0197f6ff;
    --blue-munsell: #448fa3ff;
    --middle-blue: #68c5dbff;
    --bg-blanco: #ffffff;
    --verde: #9ae19d;
    --verdedark: #537a5a;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav a,
nav a:visited {
    text-decoration: none;
    color: var(--texto);
}

nav {
    position: sticky;
    height: 90px;
    background-color: var(--bg-blanco);
}

.menu-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    z-index: 99;
    width: 100%;
    height: min-content;
}

.nav-img {
    margin: 5px;
    width: 5rem;
    filter: drop-shadow(2px 2px 2px #22222288);

}

.nav-title {
    font-size: 36px;
    font-variant: small-caps;
    font-style: italic;
}

.menu-left {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-left: 16px;

}

.menu-right {
    display: flex;
    user-select: none;
    text-align: center;
    align-content: center;
    margin-right: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

li::marker {
    content: '';
}

.menu-item {
    text-align: center;
    padding: 25px;
    text-decoration: none;
    margin: 8px;
    background-color: white;
    box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.1), -10px 0px 20px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: 250ms;
}

.menu-item:hover {
    background-color: var(--amarillo);
    box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.14), -10px 0px 20px -3px rgba(0, 0, 0, 0.14);
}

.container-carousel {
    height: calc(100vh - 90px);
    width: 100vw;
    background-size: cover;
}


.carousel-item {
    height: calc(100vh - 90px);
    width: 100vw;
    background-size: cover;
    font-variant: small-caps;
}


.carousel-item:nth-child(1) .title .title-secundario {
    color: var(--amarillo);
}

.carousel-item:nth-child(2) .title .title-secundario {
    color: var(--middle-blue);
}

.carousel-item:nth-child(3) .title .title-secundario {
    color: var(--rojo);
    font-style: italic;
}



.carousel-item .title {
    display: flex;
    position: absolute;
    top: 25%;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    font-size: 4vw;
    margin: 0 15vw;
    width: 70vw;
    padding: 20px;
    backdrop-filter: blur(10px);
    font-weight: 700;
    border-radius: 20px;
    border: 2px solid white;
    text-shadow: 2px 2px 2px black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.carousel-item:nth-child(1) {
    background: url(../img/museo-historico-fernando.jpg) no-repeat center center fixed;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background: url(../img/talice1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background: url(../img/parque-centenario-trinidad.jpg) no-repeat center center fixed;
    background-size: cover;
}

.img-bus {
    width: 250px;
    position: relative;
}



/* Fin de estilos generales */

/* Comienzo paginas */



.container h1 {
    font-size: 5vh;
    margin: auto;
    width: calc(100% - 20%);
    border-bottom: 2px solid;
}

div.text-container {
    padding: 36px;
    margin: auto;
}

.img-tour {
    width: 500px;
}

.tours-bg {
    background-image: url(../img/.jpg);
    background-color: var(--middle-blue);

}

.aboutus-bg {
    background-image: url(../img/.jpg);
    background-color: var(--middle-blue);

}

.faq-bg {
    background-image: url(../img/.jpg);
    background-color: var(--middle-blue);

}



.container-custom {
    margin-top: 2%;
    border: 2px solid black;
    padding: 5%;
    background-color: hsla(0, 0%, 56%, 0.57);
    backdrop-filter: blur(20px);
    gap: 1rem;
    align-items: center;
    font-size: 2vh;
    width: 70vw;
    padding: 20px;
    backdrop-filter: blur(10px);

    border-radius: 20px;
    border: 2px solid white;
}

.container-custom>h1 {
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    font-size: 4rem;
    text-align: center;
}


/* Tour bien */
#tour-container {
    display: flex;
    justify-content: center;
    color: black;
    gap: 10%;

}

.card{
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.card-1,
.card-2 {
    transition: ease-in-out 250ms;

}

.card-1:hover,
.card-2:hover {
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.2);
}

.card-1:hover {
    background-color: var(--verde);
}

.card-2:hover {
    background-color: var(--rojo);
}

.card img {
    aspect-ratio: 2/1;
    object-fit: cover;
}

.card .card-title {
    height: 8%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.card-1 .btn-custom {
    background-color: var(--verdedark);
    border-color: white;
    color: white;
}

.card .btn:hover {
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.card-2 .btn {
    background-color: var(--rojodark);
    border-color: white;
    color: white;
}



/* #tour-container{
    border: 4px solid var(--rojo);
    background-color: var(--rojo);

} */








/* Responsive */


@media (max-width: 768px) {
    .nav-img {
        margin: 5px;
        width: 5rem;
    }

    .nav-title {
        display: none;
    }

    .carousel-item .title {
        font-size: 2rem;
    }


}


@media (max-width: 425px) {
    .menu-all {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu-left {
        margin: 0px;
    }

    .menu-right {
        flex-wrap: wrap;
    }

    .menu-item {
        display: flex;
        padding: 0.8rem;
        flex-direction: column;
    }

    .carousel-item .title {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
    }

}


@media (max-width: 320px) {
    .menu-left {
        width: 100%;
        margin-left: 0px;
    }

    .menu-right {
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0px;
    }

    .menu-item {
        font-size: 0.8rem;
    }

    .carousel-item .title {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
    }
}